/*
* Custom node colors
*/
#red-ui-palette-container .red-ui-palette-node {
    background-color: #555 !important;
    border: 1px solid #555;
}
#red-ui-palette-container .red-ui-palette-label {
    color: #eee;
}
#red-ui-workspace-chart .red-ui-flow-node-label {
    fill: #eee;
}
#red-ui-workspace-chart .red-ui-flow-node {
    fill: #555;
    stroke: #2e2e2e;
}

/* node group: function */
#red-ui-palette-function .red-ui-palette-node,
#red-ui-palette-function .red-ui-palette-node .red-ui-palette-label,
#red-ui-palette-function .red-ui-palette-node .red-ui-palette-icon,
#red-ui-palette-function .red-ui-palette-node .red-ui-palette-icon_container,
#red-ui-workspace-chart .red-ui-flow-node[fill*="rgb(243, 181, 103)"] {
   background-color: #b58900 !important;
   fill: #b58900 !important;
}

/* node-red-contrib-node-lifx */
#red-ui-palette-container .red-ui-palette-node[style*="background-color: rgb(244, 146, 66); height: 28px;"],
#red-ui-palette-container .red-ui-palette-node[style*="background-color: rgb(244, 146, 66); height: 28px;"] .red-ui-palette-label,
#red-ui-palette-container .red-ui-palette-node[style*="background-color: rgb(244, 146, 66); height: 28px;"] .red-ui-palette-icon,
#red-ui-palette-container .red-ui-palette-node[style*="background-color: rgb(244, 146, 66); height: 28px;"] .red-ui-palette-icon_container,
#red-ui-workspace-chart .red-ui-flow-node[fill*="#f49242"] {
   background-color: #6c71c4 !important;
   fill: #6c71c4 !important;
}

/* node: flic */
#palette_node_flic,
#palette_node_flic .palette_label,
rect.node[fill*="#4BADAC"] {
   color: #eee !important;
   background-color: #2aa198 !important;
   fill: #2aa198 !important;
}
rect.node[fill*="#4BADAC"] ~ text.node_label {
    fill: #eee;
}

/* node: blynk-websockets */
#red-ui-palette-Blynk_ws .red-ui-palette-node,
#red-ui-palette-Blynk_ws .red-ui-palette-node .red-ui-palette-label,
#red-ui-palette-Blynk_ws .red-ui-palette-node .red-ui-palette-icon,
#red-ui-palette-Blynk_ws .red-ui-palette-node .red-ui-palette-icon_container,
#red-ui-workspace-chart .red-ui-flow-node[fill*="#1BC17C"] {
   background-color: #859900 !important;
   fill: #859900 !important;
}

/* node: debug */
#red-ui-palette-common .red-ui-palette-node[data-palette-type*="debug"],
#red-ui-palette-common .red-ui-palette-node[data-palette-type*="debug"] .red-ui-palette-label,
#red-ui-palette-common .red-ui-palette-node[data-palette-type*="debug"] .red-ui-palette-icon,
#red-ui-palette-common .red-ui-palette-node[data-palette-type*="debug"] .red-ui-palette-icon_container,
#red-ui-workspace-chart .red-ui-flow-node[fill*="#87a980"] {
   background-color: #657b83 !important;
   fill: #657b83 !important;
}

/* node: catch all */
#red-ui-palette-common .red-ui-palette-node[data-palette-type*="catch"],
#red-ui-palette-common .red-ui-palette-node[data-palette-type*="catch"] .red-ui-palette-label,
#red-ui-palette-common .red-ui-palette-node[data-palette-type*="catch"] .red-ui-palette-icon,
#red-ui-palette-common .red-ui-palette-node[data-palette-type*="catch"] .red-ui-palette-icon_container,
#red-ui-workspace-chart .red-ui-flow-node[fill*="e49191"] {
   background-color: #dc322f !important;
   fill: #dc322f !important;
}

/* node: inject */
#red-ui-palette-common .red-ui-palette-node[data-palette-type*="inject"],
#red-ui-palette-common .red-ui-palette-node[data-palette-type*="inject"] .red-ui-palette-label,
#red-ui-palette-common .red-ui-palette-node[data-palette-type*="inject"] .red-ui-palette-icon,
#red-ui-palette-common .red-ui-palette-node[data-palette-type*="inject"] .red-ui-palette-icon_container,
#red-ui-workspace-chart .red-ui-flow-node[fill*="#a6bbcf"] {
   background-color: #268bd2 !important;
   fill: #268bd2 !important;
}
