:root {
  --theme-background0: #181818;
  --theme-background1: #212121;
  --theme-background2: #2e2e2e;
  --theme-background3: #3a3a3a;

  --solarized-base03: #002b36;
  --solarized-base02: #073642;
  --solarized-base01: #586e75;
  --solarized-base00: #657b83;
  --solarized-base0: #839496;
  --solarized-base1: #93a1a1;
  --solarized-base2: #eee8d5;
  --solarized-base3: #fdf6e3;

  --solarized-yellow: #b58900;
  --solarized-orange: #cb4b16;
  --solarized-red: #dc322f;
  --solarized-magenta: #d33682;
  --solarized-violet: #6c71c4;
  --solarized-blue: #268bd2;
  --solarized-cyan: #2aa198;
  --solarized-green: #859900;
}

.red-ui-editor .ui-widget input {
  color: var(--solarized-base1);
}

.red-ui-editor .red-ui-flow-node-highlighted {
  border-color: var(--solarized-base2) !important;
  stroke: var(--solarized-base2) !important;
}
